# W4 - Python data types assignment

# 1. Print word `python` in reverse order

In [7]:
print('am')

am

In [8]:
print('am')

am

In [6]:
a

NameError: name 'a' is not defined

# 2. Define variables `apples` and `oranges` and using `format` methos print following string:
>I have **7** apples and **5** oranges, therefore I have **12** fruits.`

In [5]:
'I have {0} apples and {1} oranges, therefore I have {2} fruits.' .format(apples, oranges, fruits)

'I have 7 apples and 5 oranges, therefore I have 12 fruits.'

# 3. Convert list of characters (`['a', 'b', 'c', 'd']`) to string (`'abc'`)

In [8]:
''.join(a)

'abc'

# 4. Get difference betweet two lists (e.g. `[1, 2, 3, 4, 8, 12]` and `[1, 4, 8, 2]`)

In [11]:
list(set(list1) - set(list2))

['12', '3']

# 5. Add an item to a tuple
```python
tuple_numbers = (4, 6, 2, 8, 3, 1) 
```

In [13]:
tuple_numbers = tuple_numbers + (100, )

# 6. Convert a tuple to a string
```python
what_i_want_to_do = ('p', 'y', 't', 'h', 'o', 'n')
```

In [15]:
output_string =  ''.join(input_tuple)

# 7. Combine two dictionaries into one

```python
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
```

In [18]:
names2.update(names1)

# 8. Sum all the items in a dictionary
```python
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
```

In [20]:
sum(ice_cream_price.values())

743

# 9. Remove item(s) from set. Can you gess which item will be removed?
```python
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
```

In [ ]:
set.remove(element)

# 10. split list into 3 different variables 
```python
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
```

In [23]:
var1, var2, var3 = color
print(var1)
print(var2)
print(var3)

('Black', '#000000', 'rgb(0, 0, 0)')
('Red', '#FF0000', 'rgb(255, 0, 0)')
('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

# BONUS: test whether every element of first set is in second set ans vice versa using using relational operators
```python
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
```

In [24]:
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])

In [25]:
set_a.intersection(set_b)
set_b.intersection(set_a)

{'Caramel', 'Chocolate', 'Strawberry', 'Vanilla'}