# W5 - Python conditions and loops assignment

# 1. Using for loop, create nested list from dictionary, see example
```python
fruits = {'banana':3,'apple':2, 'mango':1, 'kiwi':5}
fruits_list = [['banana', 'banana', 'banana'], ['apple', 'apple'], ['mango'], ['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']]
```

In [1]:
fruits = {'banana':3,'apple':2, 'mango':1, 'kiwi':5}

In [2]:
fruits_list = [[fruits]*size for fruits, size in fruits.items()]
print(fruits_list)

[['banana', 'banana', 'banana'], ['apple', 'apple'], ['mango'], ['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']]

In [10]:
fruits_list = [[fruits]*key for fruits, key in fruits.items()]
print(fruits_list)

[['banana', 'banana', 'banana'], ['apple', 'apple'], ['mango'], ['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']]

In [7]:
fruita = [fruits]

In [8]:
fruita

[{'banana': 3, 'apple': 2, 'mango': 1, 'kiwi': 5}]

In [11]:
fruits.items()

dict_items([('banana', 3), ('apple', 2), ('mango', 1), ('kiwi', 5)])

In [12]:
fruits_list = [[fruits]*key for fruits, key in fruits.items()]

# 2. Select the shortest element from the list
```python
fruits = ['banana','apple', 'mango', 'kiwi']
shortest_fruit = 'kiwi'
```

In [ ]:
fruits = ['banana','apple', 'mango', 'kiwi']
shortest_fruit = fruits[0]
for x in fruits:
    if len(x) <= len(shortest_fruits):
        shortest_fruits = x
print(shortest_fruits)

In [14]:
fruits = ['banana','apple', 'mango', 'kiwi']
shortest_fruit = fruits[0]

In [15]:
shortest_fruit

'banana'

In [17]:
fruits = ['banana','apple', 'mango', 'kiwi']
shortest_fruit = fruits[0]
for x in fruits:
    if len(x) <= len(shortest_fruit):
        shortest_fruit = x
print(shortest_fruit)

kiwi

In [19]:
fruits = ['banana','apple', 'mango', 'kiwi']
shortest_fruit = fruits
for l in fruits:
    if len(l) <= len(shortest_fruit):
        shortest_fruit = l
print(shortest_fruit)

kiwi

In [21]:
fruits = ['banana','apple', 'mango', 'kiwi']
for l in fruits:
    if len(l) <= len(shortest_fruit):
        shortest_fruit = l
print(shortest_fruit)

kiwi

# 3. Using loops and conditions, count occurrence of numbers, letters and other symbols in the string
Example
```python
'''What a to do to die today at a 1/4 or 2 to 2. 
A terrible difficult thing to say but a harder thing still to do. 
The dragon will come at the beat of the drum with a rat-tat-tat-tat-tat-tattoo 
at a 1/4 or 2 to 2 today, at a 1/4 or 2 to 2.'''
Number occurence: 12
Letter occurence: 158
Other symbols: 66
```

In [27]:
numbers = '0123456789'

In [29]:
symbols = '''±! @#$%^&*()_+}{|":?><§`~-=[];\,''./"}'''

In [26]:
letters = 'qwertyuiopasdfghjklzxcvbnm'

In [28]:
text = '''What a to do to die today at a 1/4 or 2 to 2. 
A terrible difficult thing to say but a harder thing still to do. 
The dragon will come at the beat of the drum with a rat-tat-tat-tat-tat-tattoo 
at a 1/4 or 2 to 2 today, at a 1/4 or 2 to 2.'''




def countSym(symbols, context):
    count = 0
    for symbol in symbols:
        for text_symbol in context:
            if text_symbol == symbol:
                count += 1
    return count;
print('Number occurence:', countSym(numbers, text))
print('Letter occurence:', countSym(letters, text))
print('Ohter symbols:', countSym(others, text))

In [33]:
numbers = '0123456789'
symbols = '''±! @#$%^&*()_+}{|":?><§`~-=[];\,''./"}'''
letters = 'qwertyuiopasdfghjklzxcvbnm'

text = '''What a to do to die today at a 1/4 or 2 to 2. 
A terrible difficult thing to say but a harder thing still to do. 
The dragon will come at the beat of the drum with a rat-tat-tat-tat-tat-tattoo 
at a 1/4 or 2 to 2 today, at a 1/4 or 2 to 2.''' .count('numbers')
print(text)

0

# 4. Calculate dog's age in human years using [this article](https://pets.webmd.com/dogs/how-to-calculate-your-dogs-age)
*Note: for simplicity, use values for medium dogs*

In [74]:
human = [15, 24, 28, 32, 36, 42, 47, 51, 56, 60, 65, 69, 74, 78, 83, 87]
dog = {a:human[a-1] for a in range(17)}
age = int(input('Write age of Your dog: '))
if age == 0:
    print('Your dog is still a tiny puppy.')
if age > 16:
    print('You have Matuzalem at home. Live long.')
if age < 16 or age ==16 or age !=0:
    print('''Your dog's age according to human is: ''', dog[age])

Write age of Your dog: 0
Your dog is still a tiny puppy.
Your dog's age according to human is:  87

In [71]:
range(16)

range(0, 16)

In [46]:
range(16+1)

range(0, 17)

In [85]:
human = [15, 24, 28, 32, 36, 42, 47, 51, 56, 60, 65, 69, 74, 78, 83, 87]
dog = {a:human[a-1] for a in range(17)}
age = int(input('Write age of Your dog: '))
if age == 0:
    print('Your dog is still a tiny puppy.')
if age > 16:
    print('You have Matuzalem at home. Live long.')
else: 
    print('''Your dog's age according to human is: ''', dog[age])

Write age of Your dog: 0
Your dog is still a tiny puppy.
Your dog's age according to human is:  87

In [86]:



seq = [1,44,30,15,2,18]
odd = 0
even = 0

for numbers in seq:
    if numbers % 2 == 0:
        odd += 1

for numbers in seq:
    if numbers % 2 == 1:
        even += 1
        
print('Odd numbers:', odd)
print('Even numbers:', even)

Odd numbers: 4
Even numbers: 2

# 6. Using loops, print following pattern
```
*
**
***
****
```

In [13]:
for a in range(4):
    print('*'*(a+1))

*
**
***
****

# 7. Using list comprehensions, transfor make vowels upper case

str_original = 'rocinante'
str_vowels = 'aeiou'
list_original = [_original.upper() if _original in list(str_vowels) else _original.lower() for _original in list(str_original)]
print(''.join(list_original))
example `python -> pYthOn`

In [ ]:
7. Using list comprehensions, transfor make vowels upper case
example python -> pYthOn

In [87]:



text = 'python'
vowels = 'aeiou'

list_original = [_original.upper() if _original in list(vowels) else _original.lower() for _original in list(str_original)]
print(''.join(list_original))

NameError: name 'str_original' is not defined

In [88]:
str_original = 'rocinante'
str_vowels = 'aeiou'
list_original = [_original.upper() if _original in list(str_vowels) else _original.lower() for _original in list(str_original)]
print(''.join(list_original))

rOcInAntE

In [95]:
text = 'python'
vowels = 'aeiyou'
new_text = [_text.upper() 
            if _text in list(vowels) 
            else _text.lower() for _text in list(text)]
print(''.join(new_text))

pYthOn

In [97]:
text = 'python'
vowels = 'aeiyou'
new_text = [_text.upper() 
            if _text in list(vowels) 
            else _text.lower() for _text in list(text)]

text

'python'

In [98]:
text = 'python'
vowels = 'aeiyou'
new_text = [if _text in list(vowels) _text.upper()
            else _text.lower() for _text in list(text)]
print(''.join(new_text))

SyntaxError: invalid syntax (<ipython-input-98-e45f3b3dd617>, line 3)

# 8. Print position number of the letter
1. Ask user to type letter (just one)
2. Print position of the letter in the alphabet

Example
```
Type letter: B
Letter B position is 2.
letter = input('Type a letter: ')
alphabet = 'abcdefghijklmnopqrstuvwxyz'
while letter not in alphabet:
    print('an invalid input')
    letter = input('Type a letter: ')
else:
    print('The position of the letter is:', alphabet.index(letter) + 1)```

In [103]:
letter = input('Type a letter: ')
alphabet = 'abcdefghijklmnopqrstuvwxyz'
print('The position is:', alphabet.index(letter) + 1)

Type a letter: t
The position of the letter is: 20

# 9. Find the median of three values (do not used median function)
Ask user to input 3 values
Example
```
Type number:5
Type number:12
Type number:6

Median value is 5.
```

In [108]:
numb1 = int(input('Type first natural number: '))
numb2 = int(input('Type second natural number: '))
numb3 = int(input('Type third natural number: '))

if numb3 <= numb2 <= numb1 or numb1 <= numb2 <= numb3:
    print('Median value is', numb2)
elif numb2 <= numb1 <= numb3 or numb3 <= numb1 <= numb2:
    print('Median value is', numb1)
else:
    print('Median value is', numb3)

Type first natural number: 6
Type second natural number: 1
Type third natural number: 2
Median value is 2

# 10. Using `break` and `continue` statements, print numbers
1. Ask user for their favourite number 
2. If youser chose number 13, ask user for another number
3. Do not print number 13
4. Finish printing after user's favourite number

In [ ]:
numb = int(input('Favourite number? '))
while numb == 13:
    numb = int(input('Write another favourite number? Except 13. '))
for i in range(numb + 1):
    if i == 13:
        continue
    print(i)

# BONUS: Using nested loops, print first letter of your name:

```
  ***                                                                   
 *   *                                                                  
 *   *                                                                  
 *****                                                                  
 *   *                                                                  
 *   *                                                                  
 *   *
```